@charset "UTF-8";
* {
    margin:  0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}
#map_content {
    width: 1000px;
    margin: 0 auto;
}
#map_content .title {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#map_content>#clickcontent>ul>li {
    display: block;
    float: left;
    width: 90px;
    height: 90px;
    padding:35px 20px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    margin: 10px 25px 10px 25px;
    border: 2px solid #cb2844;
    cursor: pointer;
}
